modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
build = ["sh", "-c", "pnpm --filter @workspace/infinity-tech run build"]
run = ["sh", "-c", "node --enable-source-maps artifacts/api-server/dist/index.mjs "]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Mockup Sandbox"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=21976 BASE_PATH=/ pnpm --filter @workspace/infinity-tech run dev"
waitForPort = 21976

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "Mockup Sandbox"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8000 BASE_PATH=/__mockup pnpm --filter @workspace/mockup-sandbox run dev"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"
isCanvasWorkflow = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BJou-ulP6o7O4BcEzo437zjksva0_kbkMCP6n8FqABr43CjcsXyg42Cb45qky7Ay91-eCsIHrxI17GGIXZ9En_U"
VAPID_EMAIL = "mailto:admin.infinity.tech@gmail.com"
CLOUDINARY_CLOUD_NAME = "dvwzkyc4k"
CLOUDINARY_API_KEY = "248518966117675"
CLOUDINARY_API_SECRET = "zOJXyzSijSDxNaCjXLwuBxHxs1I"
JWT_TOKEN = ""
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_ZhMPvmpjVi38@ep-frosty-fog-a4u0lvrb-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
VAPID_PRIVATE_KEY = "2qKKnwgTTe0XXpO4wjNWz0SS_Dfqr-MUQL2qntzSmzY"
