modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
build = ["sh", "-c", "pnpm --filter @workspace/infinity-tech run build"]
run = ["sh", "-c", "node --enable-source-maps artifacts/api-server/dist/index.mjs "]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=21976 BASE_PATH=/ pnpm --filter @workspace/infinity-tech run dev"
waitForPort = 21976

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BA1helny113_SmCv9W2FUC2UAClGBBCnlSXKCylL1FhghyXwI_hiDAjlOJ08Xu68CQdwi79GtPEayirxMbyA_v8"
VAPID_PRIVATE_KEY = "B-_pHjv-WChxCs5wVaQkJZyXtc3F30p7R1CYLwZ4Ais"
VAPID_EMAIL = "mailto:admin.infinity.tech@gmail.com"
DATABASE_URL = "postgresql://neondb_owner:npg_ZhMPvmpjVi38@ep-frosty-fog-a4u0lvrb-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
CLOUDINARY_CLOUD_NAME = "dvwzkyc4k"
CLOUDINARY_API_KEY = "248518966117675"
CLOUDINARY_API_SECRET = "zOJXyzSijSDxNaCjXLwuBxHxs1I"
JWT_SECRET = "3b50df0db22f3d065fdac8393ecf695058de2f0526090162ea74edd81d89caed5a0060b877f8e1ca2e80f07a6786539a288203f8c18fcd78a8d7b0bd2ebbf6cf"
"Admin_Dashboard Password" = "Admin@Infinity_tech.com"
